rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /promociones/{id} {
      allow read: if request.auth != null
        && resource.data.creadoPor == request.auth.uid;

      allow create: if request.auth != null
        && request.resource.data.creadoPor == request.auth.uid
        && request.resource.data.titulo is string
        && request.resource.data.titulo.size() > 0
        && request.resource.data.titulo.size() <= 60
        && request.resource.data.descripcion is string
        && request.resource.data.descripcion.size() > 0
        && request.resource.data.descripcion.size() <= 280
        && request.resource.data.activo is bool
        && request.resource.data.fecha is timestamp;

      allow update: if request.auth != null
        && resource.data.creadoPor == request.auth.uid
        && request.resource.data.creadoPor == resource.data.creadoPor
        && request.resource.data.creadoEn == resource.data.creadoEn;

      allow delete: if request.auth != null
        && resource.data.creadoPor == request.auth.uid;
    }
  }
}
